<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h2>Files</h2>

    <% if (fileNames) { %>
      <ul>
        <% for (var i = 0 ; i < fileNames.length;  i++ ) { %>
            <li>
                <%=  fileNames[i]['Key'] %>
            </li>
        <% } %>
    </ul>
    <%} else { %>
    <p> No Files </p>
    <% } %>

  </body>
</html>
