<h1>Login</h1>
<form action="/login" method="POST">
  <div>
    <label for="companyName">companyName</label>
    <input type="companyName" id="companyName" name="companyName" required>
  </div>
  <button type="submit">Login</button>
</form>
