<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= companyName %></h1>
    <% for (var i = 0 ; i <= policy.length;  i++ ) { %>
        <%=  policy[i] %>
        <br>
        <br>
        <br>
    <% } %>
  </body>
</html>
