<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/file/upload" enctype="multipart/form-data" method="post">
      <label for="file">Upload CSV file:</label>
      <br>
      <br>
      <input type="file" name="uploadfile" id="file" accept='csv' >
      <input type="submit" value="Upload CSV">
    </form>
  </body>
</html>
