<!DOCTYPE html>
<html>
  <head>
    <style>
      .card {
        transition: 0.3s;
        width: 40%;
        border-style: solid;
      }
      .container {
        padding: 2px 16px;
      }
      p {
        color: red;
      }
    </style>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Card</h2>
    <div class="card">
      <div class="container">
        <h4><b>John Doe</b></h4> 
        <p>Architect & Engineer</p> 
      </div>
    </div>
  </body>
</html>
